body {
  background-color: whitesmoke;
}

h1,h2 {
  color: #0d1b31;
  font-family: "Azeret Mono", sans-serif;
}

a {
  color: #3290a6;
  font-family: "Azeret Mono", sans-serif;
}
a:hover {
  color: #99b8bf;
  font-family: "Azeret Mono", sans-serif;
}

btn:focus,
.btn:active,
.btn:visited {
  
  background-color: #378ce2;
}

#finalScore {
  font-family: "Azeret Mono", sans-serif;
}

span {
  font-family: "Azeret Mono", sans-serif;
}

p {
  font-family: "Azeret Mono", sans-serif;
}

#questionTitle {
  font-size: 25px;
  font-family: "Azeret Mono", sans-serif;
}

#answerCheck {
  color: #5e78b6;
}
